<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row pt-2">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="card border-0">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 colsm-12 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center">ONLINE PARKING SYSTEM</h3>
                            <h3 class="text-center">REGISTER</h3>
                            <div class="container">
                                <form action="" method="post">
                                    <div class="form-group">
                                        <label for="">Username</label>
                                        <input type="text" class="form-control" name="" id="userUid" aria-describedby="helpId" placeholder="Username" required>
                                        <small id="helpId" class="form-text text-muted">Valid Username</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Contacts</label>
                                        <input type="tel" class="form-control" name="" id="contact" aria-describedby="helpId" placeholder="Contacts" required>
                                        <small id="helpId" class="form-text text-muted">Valid Contacts</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Email</label>
                                        <input type="email" class="form-control" name="" id="emailUid" aria-describedby="helpId" placeholder="Email" required>
                                        <small id="helpId" class="form-text text-muted">Valid Email</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Password</label>
                                        <input type="password" class="form-control" name="" id="password" aria-describedby="helpId" placeholder="Password" required>
                                        <small id="helpId" class="form-text text-muted">Valid Password and a stronger password</small>
                                    </div>
                                    <button type="button" class="form-control btn btn-sm btn-success">Register</button>

                                    <p class="pt-2">Already have an account? Click <a href="login">Here</a></p>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    </body>
</html>